<%- include('../partials/header') %>

<main>
    <form id="addPerf" action="/performers" method="POST">
        <label>Name: </label><br>
        <input type="text" name="name"><br>
        <label>Image:</label><br>
        <input type="text" name="showimg" value="Image Link" required><br>
        <label>Birthdate: </label><br>
        <input type="Date" name="born"><br>
        <label>Bio: </label><br>
        <textarea class="tAreaP" name="bio"></textarea><br>
        <input type="submit" value="Add Performer">
    </form>
</main>

<%- include('../partials/footer') %>