<%- include('../partials/header') %>

<main>
    <form action="/performers/<%= performer._id %>/updateRoles?_method=PUT" method="POST">
        <label>Role:</label>
        <select name="performance">
            <%- productions.map(p => `<option value="${p._id}">${p.title}</option>`).join('') %>
        </select>
        <input type="text" name="roles" value="Role">
        <input type="submit" value="Add Role">
    </form>
</main>

<%- include('../partials/footer') %>