<%- include('../partials/header') %>

<main>
    <form id="editPerf" action="/performers/<%= performers._id %>?_method=PUT" method="POST">
        <label>Name: </label>
        <input type="text" name="name" value="<%= performers.name %>">
        <label>Birthdate: </label>
        <input type="Date" name="born">
        <label>Bio: </label>
        <textarea name="bio"></textarea>
        <br>
        <input type="submit" value="Update Performer">
    </form>
</main>

<%- include('../partials/footer') %>