<%- include('../partials/header') %>

<main>
    <h2>Performer Catalog</h2>
    <table>
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <% performers.forEach(function(p) { %>
            <tr>
              <td><a class="pHeads" href="/performers/<%= p._id %>"><%= p.name %></a></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    
</main>

<%- include('../partials/footer') %>