<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %>></title>
</head>
<body>
    <nav>
        <a href="/"><img id="logo" src="https://i.imgur.com/9zEsPUD.jpg" alt="Comedy/Tragedy Home Button"></a>
        <div id="searchBar">
            <input type="search" autocomplete="off">
            <input type="submit" value="Search">
        </div>
        <div id="entry">
            <% if (user) { %>
                Welcome, <%= user.name %><a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
            <% } else { %>
                <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
            <% } %>
        </div>
    </nav>
    <h1><%= title %></h1>
<div id="sBar">
    <a href="/users/<%= user._id %>">Profile</a>
    <a href="/production/add">Add a Production</a>
</div>