<%- include('../partials/header') %>

<main>
    <form action="/performer/<%= performer._id %>" method="PUT">
        <label>Role: </label>
        <input type="text" name="roles" value="Performance - Role">
        <input type="submit" value="Add Role">
    </form>
</main>

<%- include('../partials/footer') %>