body {
  height: 100vh;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(139,228,232);
}

#logo {
  height: 70px;
  border-radius: 30px;
}

#searchBar {
  display: inline;
}

a {
  color: rgb(139,228,232);
}

#entry {
  float: right;
}

nav {
  background-color: rgb(86, 47, 126);
  color: rgb(139,228,232);
  padding: 10px;
}

#sBar {
  position: fixed;
  height: 550px;
  width: 125px;
  padding: 10px;
  background-color: rgb(86, 47, 126);
  text-align: center;
}

main {
  margin-left: 150px;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr) 13fr;
  text-align: center;
  border: 2px solid rgb(86, 47, 126);
  padding: 10px;
}

/* .tabBdy {
  justify-items: center;
} */

.catHeads {
  color: rgb(0,0,0);
  font-weight: bold;
}

.sortHeads, .linkBtn {
  color: rgb(0,0,0);
  text-decoration: none;
  padding: 2px 6px 2px 6px;
  border: 1px solid rgb(86, 47, 126);
}

.pHeads {
  color: rgb(0,0,0);
}

#addPerf {
  display: grid;
}

.avImg {
  border: 3px solid rgb(86, 47, 126);
  width: 250px;
  border-radius: 8px;
}

#pFileHead, #pFileBody {
  border: 3px solid rgb(86, 47, 126);
  padding: 10px;
}

#addProd {
  display: grid;
}

#syn {
  height: 50px;
}