body {
  height: 100vh;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(139,228,232);
}

#logo {
  height: 70px;
  border-radius: 30px;
}

#searchBar {
  display: inline;
}

a {
  color: rgb(139,228,232);
}

#entry {
  float: right;
}

nav {
  background-color: rgb(86, 47, 126);
  color: rgb(139,228,232);
  padding: 10px;
}

#sBar {
  position: fixed;
  height: 550px;
  width: 75px;
  padding: 10px;
  background-color: rgb(86, 47, 126);
  text-align: center;
}

main {
  margin-left: 100px;
  height: 100%;
  text-align: center;
  border: 2px solid rgb(86, 47, 126);
  padding: 10px;
}

#avImg {
  border: 3px solid rgb(86, 47, 126);
  width: 60px;
  border-radius: 8px;
}

#pFileHead {
  border: 3px solid rgb(86, 47, 126);
  padding: 10px;
}