<%- include('../partials/header') %>

<main>
    <form id="addProd" action="/productions" method="POST">
        <label>Title:</label><br>
        <input type="text" name="title"><br>
        <label>Show Image:</label><br>
        <input type="text" name="showimg" value="Image Link"><br>
        <label>Playwright:</label><br>
        <input type="text" name="playwright"><br>
        <label>Debut:</label><br>
        <input type="Date" name="debut"><br>
        <label>Genre:</label><br>
        <input type="text" name="genre"><br>
        <label>Synopsis:</label><br>
        <textarea class="tAreaP" name="synopsis"></textarea>
        <br>
        <input type="submit" value="Add Production">
    </form>
</main>

<%- include('../partials/footer') %>