<%- include('../partials/header') %>

<main>
    <form id="addProd" action="/productions" method="POST">
        <label>Title:</label>
        <input type="text" name="title">
        <label>Show Image:</label>
        <input type="text" name="showimg" value="Image Link">
        <label>Playwright:</label>
        <input type="text" name="playwright">
        <label>Debut:</label>
        <input type="Date" name="debut">
        <label>Genre:</label>
        <input type="text" name="genre">
        <label>Synopsis:</label>
        <textarea id="syn" name="synopsis"></textarea>
        <br>
        <input type="submit" value="Add Production">
    </form>
</main>

<%- include('../partials/footer') %>