<%- include('../partials/header') %>

<main>
    <form action="/productions/<%= production._id %>/updateCast?_method=PUT" method="POST">
        <label>Role:</label>
        <input type="text" name="role" value="Role">
        <select name="performer">
            <%- performers.map(p => `<option value="${p._id}">${p.name}</option>`).join('') %>
        </select>
        <br><br>
        <input type="submit" value="Add Castmember">
    </form>
</main>

<%- include('../partials/footer') %>