<%- include('../partials/header') %>

<main>
    <div id="pFileHead">
        <h2><%= user.name %></h2>
        <% if(user.avatar){ %>
        <img class="avImg" src="<%= user.avatar %>" alt="User Picture">
        <% } else { %>
        <img class="avImg" src="https://i.imgur.com/aDIPn5u.jpg" alt="No Image">
        <% } %>
    </div>
</main>

<%- include('../partials/footer') %>